<div class="container main" >

  <div class ="lifetime_stats">
  <h1>Card info:</h1>
  <p>Deck: <%= @card.deck.name %>
  <p>Definition: <%= @card.definition %>
  <p>Answer: <%= @card.answer %>
  <h2>Sitewide stats:</h2>
  <p>
  <p>Total times missed: <%= @wrong_count %>
  <p>Total times played: <%= @played_count %>
<p>
  <p>This card has been answered incorrectly <%= (@wrong_count/@played_count.to_f * 100).round %>% of the time.
  <p>
<% if @player_played_count > 0 %>
  <h2>Personal stats:</h2>
<p>
  <p>Total times missed: <%= @player_wrong_count %>
  <p>Total times played: <%= @player_played_count %>
<p>
  <p>You've answered this card incorrectly <%= (@player_wrong_count/@player_played_count.to_f * 100).round %>% of the time.

<% end %>
  </div>

  <div class="biggest_losers">
    <h2>Biggest Losers:</h2>
    <% @biggest_losers.each do |l| %>
      <img class="loser_images" src="/images/<%= User.find(l.user_id).image %>">
    <% end %>
  </div>




</div>


