<div class="container" id="game_card">
<div id="deck_name"><%= @deck.name %></div>
  <% @deck.cards.shuffle.each_with_index do |card, i| %>
  <div class="hidden">
    <div id="definition_<%= i %>"><%= card.definition %></div>
    <div class="answers">
       <% multiple_choice_answers(card).each do |card| %>
       <div id="answer_<%= i %>"><%= card.answer %></div>
       <% end %>
    </div> 
    <input type="hidden" value="<%= card.id %>"/>
  </div>
  <% end %>
</div>
<img class="pop_up_jkai" id="wrong_jkai" src="/weaksauce.png"/>
<img class="pop_up_jkai" id="right_jkai" src="/GoodJobSon.png"/>
