<div class='container'>
  <h1>BOOYAH! Here's how you did:</h1>
  <% correct = @game.rounds.where("correct = ?", true).count %>
  <% total = @game.rounds.count %>
  Percent correct: <%= (correct / total.to_f).round(2) * 100 %>% (<%= correct %>/<%= total %>)<br> 
  These are the cards you got wrong:<br/> 

  <% wrong_rounds = @game.rounds.where("correct = ?", false) %>
  <% wrong_rounds.each do |round| %>
    <%= round.card.definition %><br/>
  <% end %>

  You've played this deck: <%= Game.where('deck_id = ?', @game.deck.id).count %> times
</div>
