<div class='container'>
  <div id="deck_name"><%= @game.deck.name %></div>
  <div id='percentile'>
  <% correct = @game.rounds.where("correct = ?", true).count %>
  <% total = @game.rounds.count %>
  <h1><%= ((correct / total.to_f) * 100).round.to_i %>% </h1>
  <p>(<%= correct %>/<%= total %>)</p>
  </div>

  <% unless (correct - total) == 0 %>  
  <div id='wrong_list'>
    <p>These are the cards you got wrong:</p>
 
    <% wrong_rounds = @game.rounds.where("correct = ?", false) %>
    
    <% wrong_rounds.each do |round| %>
      <div class='wrong_card'><%= round.card.definition %></div>
    <% end %>
  
  </div>
  <% end %>

  

  <div id='times_played'>You've played this deck <%= Game.where('deck_id = ?', @game.deck.id).count %> times.
  </div>
</div>
